.sharee-container{
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgb(246, 243, 243);
}
.sharee-container img{
    width: 350px;
    height: 250px;
    border-radius: 1000px;
    margin-top: 10px;
}
