.header-container{
    background-color: black;
    color: rgb(245, 129, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    font-size: 25px;
}
.header-container a {
    text-decoration: none;
    color: aliceblue;
    margin-left: 20px;
    font-weight: 600;
    font-size: 19px;
}
.header-container a:hover{
    color: orange;
}
.header-container a:focus{
    color: orange;
}